.promo {
  position: relative;
  &__titel {
    @include titel($color_3, 32px);
    color: var(--White, $color_3);
/*     padding: 60px 0 41px 60px; */
  }
  &__box {
    width: 100%;
    background: var(--Dark-Primary, $background__1);
    @media (max-width: 480px) {
    padding: 24px;
    }
    @media (max-width: 480px) {
    }
    @media (max-width: 1400px) {
    }
  }
  &__btn {
    text-align: center;
    margin: 0 auto;
    background: rgba(249, 249, 249, 0.15);
    padding: 16px 32px;
    color: var(--White, $color_3);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 0;
    @media (max-width: 480px) {
      padding: 16px 118px;
    }
    @media (max-width: 768px) {
    }
  }
  &__desc {
    color: var(--White, $color_3);
    @include desc($color_3, 18px);
    line-height: 150%;
 /*    padding: 190px 0 60px 60px; */
    @media (max-width: 345px) {
      overflow: auto;
    }
  }
  &__blocks {
    position: absolute;
    right: 10%;
    top: 0;
    @media (max-width: 425px) {
      display: none;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
